* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

#root > div > div {
  width: 100%;
}

body.sb-show-main {
  padding: 0 !important;
}

body form {
  width: 500px;
}

@media only screen and (max-width: 992px) {
  body form {
    width: 100%;
  }
}
