<style>
  .message__content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message__content">
  <h1>Hi, {{ name }}</h1>
  <p>You recently requested to reset your password for your Truckeria account. Click the button below to reset it.</p>

  <a href={{link}}>Reset my Password</a>

  <p>If you didn't request a password reset, simply ignore this email or reply to let us know. This password reset is
    only valid for the next 2 hours.

    <br />
    Thanks!
    Truckeria Team</p>
  <hr />

  <small>If you’re having trouble clicking the button, copy and paste the URL below into your web browser.br
    <br />
    <a href={{link}}></a>
  </small>
</div>
